[submodule "vim/plugged/nerdtree"]
	path = vim/plugged/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/plugged/papercolor-theme"]
	path = vim/plugged/papercolor-theme
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule "vim/plugged/ale"]
	path = vim/plugged/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "vim/plugged/rust.vim"]
	path = vim/plugged/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
