[submodule "vim/plugged/nerdtree"]
	path = vim/plugged/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/plugged/papercolor-theme"]
	path = vim/plugged/papercolor-theme
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule "vim/plugged/ale"]
	path = vim/plugged/ale
	url = https://github.com/dense-analysis/ale.git
